{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link rel="shortcut icon" href="{%  static 'img/Final_hodlekverundt_Bare sau.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

<style>
    #map {
      width: 100%;
      height: 600px;
    }
    #elevation-div {
      width: 100%;
      height: 200px;
    }
  </style>
 
    <!-- leaflet-ui -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-ui@0.5.9/dist/leaflet-ui.js"></script>
    
    <!-- leaflet-elevation -->
    <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.css" />
    <script src="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Kartvisning</h1>
        </div>
        <div class="container">
            <div id="map"></div>
            <div id="elevation-div"></div>
        </div>
        </body>

        <script>
            // Full list options at "leaflet-elevation.js"
            var elevation_options = {
          
              // Default chart colors: theme lime-theme, magenta-theme, ...
              theme: "lightblue-theme",
          
              // Chart container outside/inside map container
              detached: true,
          
              // if (detached), the elevation chart container
              elevationDiv: "#elevation-div",
          
              // if (!detached) autohide chart profile on chart mouseleave
              autohide: false,
          
              // if (!detached) initial state of chart profile control
              collapsed: false,
              
              // if (!detached) control position on one of map corners
              position: "topright",
              
              // Toggle close icon visibility
              closeBtn: true,
          
              // Autoupdate map center on chart mouseover.
              followMarker: true,
          
              // Autoupdate map bounds on chart update.
              autofitBounds: true,
          
              // Chart distance/elevation units.
              imperial: false,
          
              // [Lat, Long] vs [Long, Lat] points. (leaflet default: [Lat, Long])
              reverseCoords: false,
          
              // Acceleration chart profile: true || "summary" || "disabled" || false
              acceleration: false,
          
              // Slope chart profile: true || "summary" || "disabled" || false
              slope: true,
          
              // Speed chart profile: true || "summary" || "disabled" || false
              speed: false,
          
              // Altitude chart profile: true || "summary" || "disabled" || false
              altitude: true,
          
              // Display time info: true || "summary" || false
              time: false,
          
              // Display distance info: true || "summary" || false
              distance: true,
          
              // Summary track info style: "inline" || "multiline" || false
              summary: 'inline',
          
              // Download link: "link" || false || "modal"
              downloadLink: 'link',
          
              // Toggle chart ruler filter
              ruler: true,
          
              // Toggle chart legend filter
              legend: true,
          
              // Toggle "leaflet-almostover" integration
              almostOver: true,
          
              // Toggle "leaflet-distance-markers" integration
              distanceMarkers: true,
              
              // Toggle "leaflet-hotline" integration
              hotline: true,
          
              // Display track datetimes: true || false
              timestamps: false,
          
              // Display track waypoints: true || "markers" || "dots" || false
              waypoints: true,
          
              // Toggle custom waypoint icons: true || { associative array of <sym> tags } || false
              wptIcons: {
                '': L.divIcon({
                  className: 'elevation-waypoint-marker',
                  html: '<i class="elevation-waypoint-icon"></i>',
                  iconSize: [30, 30],
                  iconAnchor: [8, 30],
                }),
              },
          
              // Toggle waypoint labels: true || "markers" || "dots" || false
              wptLabels: true,
          
              // Render chart profiles as Canvas or SVG Paths
              preferCanvas: true,
          
            };
          
            // Instantiate map (leaflet-ui).
            var map = L.map('map', {
                        center: [41.4583, 12.7059],  // needs value to initialize
                        zoom: 5,                     // needs value to initialize
                        mapTypeId: 'topo',
                        mapTypeIds: ['satellite', 'topo'],
                        gestureHandling: false,     // zoom with Cmd + Scroll
                        zoomControl: true,          // plus minus buttons
                        pegmanControl: false,
                        locateControl: false,
                        fullscreenControl: false,
                        layersControl: false,
                        minimapControl: false,
                        editInOSMControl: false,
                        loadingControl: false,
                        searchControl: false,
                        disableDefaultUI: false,
                        printControl: false,
                    });
            var wmsLayer = L.tileLayer('https://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo4&zoom={z}&x={x}&y={y}', {
                    attribution: '<a href="http://www.kartverket.no/">Kartverket</a>'
                    }).addTo(map);
            // Instantiate elevation control.
            var controlElevation = L.control.elevation(elevation_options).addTo(map);
          
            // Load track from url (allowed data types: "*.geojson", "*.gpx", "*.tcx")
            controlElevation.load("{% static 'rute/gpx/Helleberget_med_badepause.gpx' %}");
          
          </script>
</html>