{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img src="static/img/Final_hodlekverundt_Logo_gjennomsiktig.png" class="img-fluid" alt="Logo">
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/img/kort.jpg" class="d-block mx-lg-auto img-fluid" alt="Hodlekve rundt" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Fjelløp på stiar i Sogndalsdalen</h1>
        <p class="lead">Hodlekve Rundt er eit utfordrande og naturskjønt fjelløp som startar ved Hodlekve Skisenter. Dette løpet har to distansar å velje mellom: ei 21 km lang løype med 1000 høgdemeter, og ei kortare løype på 10 km med 500 høgdemeter. Uansett kva distanse du vel, er du sikra ei unik naturoppleving med utsikt til eit alpint brelandskap og roleg, flott fjellterreng.</p>
        <p class="lead">Løypa tek deg med på ei reise frå glissen bjørkeskog og opp i det majestetiske høgfjellet. Du vil oppleve stigningar som utfordrar både fysisk og mentalt, og fantastiske utsiktspunkt der du kan nyte synet av det storslåtte landskapet. Hodlekve Rundt er eit løp som passar for alle som likar å utfordre seg sjølv i vakker natur, uavhengig av erfaringsnivå.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Meir info</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Påmelding</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}