{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row mb-3 text-center">
    <div class="col-md-8 themed-grid-col text-justify text-left">
        <p class="h2">Dato: 16. september 2023</p>
        <p class="h2">Stad: Hodlekve skisenter</p>
        
        <p class="h3">Generell info</p>
        <p class="text-justify">For 6. året blir det fjelløp i Hodlekve. Ta fram joggeskoa og set av dagen! Skaff deg ein startplass før det blir fullt . Det er herre og dameklasse på 21 og 10 km, i tillegg til juniorklasse for begge kjønn på 10 km.</p>
        <p></p>
        <p class="h3">Påmelding</p>
        <p class="text-left">Påmelding kjem via eqtiming.</p>
        <p></p>
        <p class="h3">Tidsplan</p>
        <p class="text-left">Sekreteriatet opnar klokka 09.00. Me oppfordrar å koma tidleg for å sleppa kø for å få startbrikke.</p>
        <p></p>
        <p class="h3">Løpsstart:</p>
        
        21 km 10:00
        
        10 km 10.30
        
        Trimklasse 10:00-11:00
        
        Fellestart for alle klassar for begge diatansar.
        
        <p class="h3">Tryggleik</p>
        Mobil er påbudt å ha med i tillfelle beinbrot eller andre skader. Du må også ha med deg klede til å klare deg i høgfjellet. Alle er pliktige til å hjelpe ved hendingar. Løypa er merka med flagg. Ingen værforbehold.
        
        <p class="h3">Kostnad</p>
        Påmeldingsavgift 250 kr for vaksen, 150 for junior. Alt ev. overskot går uavkorta til stiprosjekt i området.</div>
    <div class="col-md-4 themed-grid-col">
        <img src="..." class="img-fluid" alt="...">
    </div>
  </div>
</div>
{% endblock %}